telethon
pydub
SQLAlchemy
aiohttp==3.9.5
ocrspace
ShazamAPI
setuptools
wheel
cloudscraper
speechrecognition
colour
qrcode
python-barcode
jotquote
glitch_this
cryptg
beautifulsoup4
cryptography
moviepy
pyquery
tswift
wikipedia
fontTools
emoji==1.7.0
fonttools
geopy
gitpython
gsearch
gtts
hachoir
heroku3
html-telegraph-poster
humanize
justwatch
kwot
lottie

jikanpy
lyricsgenius
markdown
motor
patool
Pillow
prettytable
psutil
pyfiglet

programmingquotes
pygments
psycopg2
psycopg2-binary==2.9.1
pylast
pymediainfo
pySmartDL
pytuneteller
pytz
wget
urlextract
search-engine-parser
spamwatch
speedtest-cli
sqlalchemy-json
telegraph
tgcrypto
validators
vcsi
ipaddress
wand
ujson==5.8.0
randomstuff.py
git+https://github.com/redaiq90/py-googletrans
git+https://github.com/yt-dlp/yt-dlp
git+https://github.com/alexmercerind/youtube-search-python
